.photo-frame {
    height: 300px;
    width: 300px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.photo-album img {
    width: 100%;
    height: 100%;
}

.photo-details {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    top: 0px;
    display: none;
}

.photo-details p,
h2 {
    color: lightgray;
}

.album-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: aqua;
}

.photo-album {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-frame:hover .photo-details {
    /* display: block; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photo-frame:hover .photo-image {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}